*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mochiy Pop One", sans-serif;
}

body {
    background-color: #080000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
    }

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: aliceblue;
    text-decoration: none;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO TOPO SITE */
section.topo-do-site{
    padding: 40x 4%;

}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site p{
    color: #fff;
    font-size: 18px;
    margin: 40px 0;
}